.terraform/
.terraform.lock.hcl
terraform.tfvars
terraform.tfstate
*.tfstate.backup
*.tfstate
aws_creds.ps1
warehouse/snowflake/data-transformation/eventsim_elt/target/
warehouse/snowflake/data-transformation/eventsim_elt/dbt_modules/
warehouse/snowflake/data-transformation/eventsim_elt/logs/